section {
    color : saddlebrown;
    background : white;
    text-align : center;
    height : 600px;
    display : flex;
    justify-content : center;
    align-items : center;
    flex : 1;
}

/*.content {*/
/*    color : saddlebrown;*/
/*    background : white;*/
/*    text-align : center;*/
/*    width : 95%;*/
/*    height : 100%;*/
/*    display : flex;*/
/*    justify-content : center;*/
/*    align-items : center;*/
/*    font-size : 30px;*/
/*    font-weight : bold;*/
/*}*/

.store-div{
    text-align : center;
    display : flex;
    justify-content : center;
    align-items : center;
}

.store-div #map{
    width:30%;
    height:350px;
}

#store-img {
    object-fit: cover;
    width: 80%;
    height: 100px;
}

/*.store-head {*/
/*    justify-content : center;*/
/*    align-items : center;*/
/*}*/

#store-title{
    font-size : 30px;
    font-weight : bold;
}

#store-explain{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size : 18px;
    color : #b17f5e;
}

/*.store-info table{*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 10px;*/
/*    padding: 10px 20px;*/
/*    box-sizing: border-box;*/
/*    min-height: 300px;*/
/*}*/