body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: saddlebrown;
    font-weight : bold;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.store-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.store-table th, .store-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.store-table th {
    background-color: rgb(239, 226, 213);
    color: saddlebrown;
    font-weight: bold;
}

.store-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.store-table tr:hover {
    background-color: #f1f1f1;
}

.store-table td a {
    color: saddlebrown;
    text-decoration: none;
    font-weight : bold;
}

.store-table td a:hover {
    color : #ffea00;
    text-decoration: none;
    font-weight : bold;
}

.store-table td a:active {
    color : orange;
    text-decoration: none;
    font-weight : bold;
}

.store-table td img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}


.store-table td:first-child {
    font-weight: bold;
    color: saddlebrown;
}
